<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        {% for collection in site.collections %}
        {% if collection[1].title %}
        <li>
          <a class="page-link" href="/{{collection[1].label}}">
            {{collection[1].title}}
          </a>
        </li>
        {% endif %}
        {% endfor %}
        {% for page in site.pages %}
        {% if page.title %}
        <li>
          <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
