---
layout: page
---

<div class="ww">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <div class="js-slides slides">
          {{ content }}
          <a href="#" class="slidesjs-previous slidesjs-navigation">
            <i class="fa fa-chevron-left"></i>
          </a>
          <a href="#" class="slidesjs-next slidesjs-navigation">
            <i class="fa fa-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-2 centered">
        <script language="JavaScript" src="http://s1.freehostedscripts.net/ocount.php?site=ID2878445&name=Visits"></script>
      </div>
      <div class="col-lg-2 col-lg-offset-2 centered">
        <div class="fb-like" data-href="http://www.itzelvaldes.com" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
      </div>
    </div>
  </div>
</div>
